<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.runningphotos.dao.DistanceDao" >

    <resultMap type="com.runningphotos.bom.Distance" id="DistanceMap">
        <id column="id" property="id"  />
        <result column="name" property="name"/>
        <result column="length" property="length"/>
    </resultMap>
    <insert id="insert" parameterType="com.runningphotos.bom.Distance" >
        INSERT INTO distance
        (name,length)
        VALUES
        (#{name},#{length})
    </insert>
    <select id="selectAll" resultMap="DistanceMap">
        select * from distance
    </select>
    <update id="update" parameterType="com.runningphotos.bom.Distance">
        UPDATE distance set  name=#{name}, length = #{length}
        where id = #{id}
    </update>
    <delete id="delete" parameterType="com.runningphotos.bom.Distance">
        DELETE  from distance where id = #{id}
    </delete>
    <select id="selectById" parameterType="int" resultMap="DistanceMap">
        SELECT* FROM distance where distance.id = #{id}
    </select>
</mapper>