<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.runningphotos.dao.RacePhotoDao" >

    <resultMap type="com.runningphotos.bom.RacePhoto" id="RacePhotoMap">
        <id column="id" property="id"  />
        <result column="Path" property="path"/>
        <result column="Race_id" property="race.id"/>
        <result column="Author_id" property="user.id"/>
        <collection property="runnersMarked" resultMap="RunnerMap"/>
    </resultMap>
    <resultMap type="com.runningphotos.bom.Runner" id="RunnerMap">
    <id column="runner_id" property="id"  />
    <result column="name" property="name"/>
    <result column="surname" property="surname"/>
</resultMap>
    <resultMap type="com.runningphotos.bom.User" id="UserMap">
        <id column="user_id" property="id"  />
    </resultMap>


    <insert id="insert" parameterType="com.runningphotos.bom.RacePhoto" >
INSERT INTO RacePhoto
(Path,Race_id,Author_id)
VALUES
(#{path},#{race.id},#{user.id})
</insert>
    <select id="selectAll" resultMap="RacePhotoMap">
        SELECT rp.id,rp.path,rp.race_id,rp.author_id,r.id as runner_id,r.name,r.surname FROM RacePhoto rp
   Left join Runners_on_photo rop
   on rp.id=rop.photo_id
   left join runner r
   on r.id = rop.runner_id
    </select>
    <select id="getAllAuthorPhotos" resultMap="RacePhotoMap">
    SELECT rp.id,rp.path,rp.race_id,rp.author_id,r.id as runner_id,r.name,r.surname FROM RacePhoto rp
    Left join Runners_on_photo rop
    on rp.id=rop.photo_id
    left join runner r
    on r.id = rop.runner_id
    WHERE Author_id=#{id}
</select>
    <select id="selectById" parameterType="int" resultMap="RacePhotoMap">
        SELECT * FROM RacePhoto
        WHERE id=#{id}
    </select>
    <update id="update" parameterType="com.runningphotos.bom.RacePhoto">
        UPDATE RacePhoto
        SET  path=#{path}, Race_id=#{race.id}, Author_id=#{user.id}
    </update>

    <delete id="delete" parameterType="com.runningphotos.bom.RacePhoto">
        Delete from RacePhoto where id=#{id}
    </delete>
</mapper>