<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.runningphotos.dao.ResultDao" >

    <resultMap type="com.runningphotos.bom.Result" id="ResultMap">
        <id column="id" property="id"  />
        <result column="hours" property="time.hours"/>
        <result column="minutes" property="time.minutes"/>
        <result column="seconds" property="time.seconds"/>
        <result column="number" property="number"/>
        <result column="distance_id" property="distance.id"/>
        <result column="runner_id" property="runner.id"/>
        <result column="race_id" property="race.id"/>
    </resultMap>

    <resultMap type="com.runningphotos.bom.Runner" id="RunnerMap">
        <id column="id" property="id"  />
    </resultMap>

    <resultMap type="com.runningphotos.bom.Race" id="RaceMap">
        <id column="id" property="id"  />
    </resultMap>

    <insert id="insert" parameterType="com.runningphotos.bom.Result" >
        INSERT INTO result
        (finish_time,number,distance_id,runner_id,race_id)
        VALUES
        (#{time.timeToString},#{number},#{distance.id},#{runner.id},#{race.id})
    </insert>
    <select id="selectAll" resultMap="ResultMap">
        select id, substring(finish_time,1,2) as hours, substring(finish_time,4,2) as minutes,
        substring(finish_time,7,2) as seconds, number, distance_id, runner_id, race_id
        from result
    </select>
    <update id="update" parameterType="com.runningphotos.bom.Result">
        UPDATE result set finish_time=#{time.timeToString}, number=#{number}, distance_id=#{distance.id},
        runner_id = #{runner.id}, race_id = #{race.id}
        where id = #{id}
    </update>
    <delete id="delete" parameterType="com.runningphotos.bom.Result">
        DELETE  from result where id = #{id}
    </delete>
    <select id="selectById" parameterType="int" resultMap="ResultMap">
        select id, substring(finish_time,1,2) as hours, substring(finish_time,4,2) as minutes,
        substring(finish_time,7,2) as minutes, number, distance_id, runner_id, race_id
        from result
        where result.id = #{id}
    </select>

    <select id="getAllRunnerResults" parameterType="com.runningphotos.bom.Runner" resultMap="ResultMap">
        select id, substring(finish_time,1,2) as hours, substring(finish_time,4,2) as minutes,
        substring(finish_time,7,2) as minutes, number, distance_id, runner_id, race_id
        from result where runner_id = #{id}
    </select>
    <select id="getAllRaceResults" parameterType="com.runningphotos.bom.Race" resultMap="ResultMap">
        select id, substring(finish_time,1,2) as hours, substring(finish_time,4,2) as minutes,
        substring(finish_time,7,2) as minutes, number, distance_id, runner_id, race_id
        from result where race_id = #{id}
    </select>
</mapper>