<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.runningphotos.dao.UserDao" >

    <resultMap type="com.runningphotos.bom.User" id="UserMap">
        <id column="id" property="id"  />
        <result column="login" property="login"/>
        <result column="mail" property="mail"/>
        <result column="name" property="name"/>
        <result column="surname" property="surname"/>
        <result column="city" property="city"/>
        <result column="birthdate" property="birthDate"/>
        <result column="role_id" property="role.id"/>
    </resultMap>
    <insert id="insert" parameterType="com.runningphotos.bom.User" >
        INSERT INTO user
        (login,mail,name,surname,city,birthdate,role_id)
        VALUES
        (#{login},#{mail},#{name},#{surname},#{city},#{birthDate},#{role.id})
    </insert>
    <select id="selectAllUsers" resultMap="UserMap">
        select * from user
    </select>
    <update id="update" parameterType="com.runningphotos.bom.User">
        UPDATE user set login=#{login}, mail=#{mail}, name=#{name},
         surname = #{surname}, city = #{city}, birthdate = #{birthDate}, role_id =#{role.id}
        where id = #{id}
    </update>
    <delete id="delete" parameterType="com.runningphotos.bom.User">
    DELETE  from user where id = #{id}
    </delete>
    <select id="getById" parameterType="int" resultMap="UserMap">
        SELECT* FROM user where user.id = #{id}
    </select>
    </mapper>