<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://mybatis.org/schema/mybatis-spring
        http://mybatis.org/schema/mybatis-spring.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd"
        >
        <context:component-scan base-package="com.runningphotos" />

       <mybatis:scan base-package="com.runningphotos.dao" />

       <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="dataSource" />
              <property name="configLocation" value="classpath:com/runningphotos/mybatis/mybatis-config.xml" />
              <property name="mapperLocations" value="classpath*:com/runningphotos/mybatis/mapper/*.xml"/>
       </bean>

       <jdbc:embedded-database id="dataSource" type="H2" >
              <jdbc:script location="classpath:schema.sql"/>
              <jdbc:script location="classpath:test-data.sql"/>
       </jdbc:embedded-database>


</beans>